<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EventHub Automation Suite" parallel="false" thread-count="1">
    <test name="Cucumber BDD Tests">
        <classes>
            <class name="com.eventHub.runners.EventHubRunner"/>
        </classes>
    </test>
</suite>